<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Review of Python Types, Lists, and Dictionaries

_Author: Kiefer Katovich (San Francisco)_

---

In [22]:
# Enter Student names here:
student_names = ["Amberle", "Nick", "David", "Bryon", "Lisa", "Brian",
                 "Ashley", "Danielle", "Elani", "Chuck", "Neha", "Lina"]

---

### 1) What are the types of the following variables?

In [3]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'kiefer':'katovich', 'dave':'yerrington'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [8]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))

<type 'int'>
<type 'float'>
<type 'list'>
<type 'dict'>
<type 'tuple'>
<type 'dict'>
<type 'bool'>
<type 'bool'>

---

### 2) What is the difference between a "mutable" and an "immutable" object?

Mutable objects have fields that can be changed, immutable objects have no fields that can be changed after the object is created.

---

### 3) Print the `student_names` list.

In [10]:
print(student_names)

['Bill', 'Nick', 'David']

---

### 4) Print the names of the first and last students on the list.

In [15]:
print(student_names[0])
print(student_names[-1])

Amberle
Brian

---

### 5) Print the first five names in the `student_names` list.

In [17]:
student_names[:5]

['Amberle', 'Nick', 'David', 'Bryon', 'Lisa']

---

### 6) Combine the ninth and 10th student names into a single string, separated by a space. Assign that string to a variable.

In [28]:
single_string = student_names[8:10]
single_string

['Elani', 'Chuck']

---

### 7) Append an animal to the list of animals.

In [29]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [31]:
animals.append('nakedmolerat')

In [32]:
animals

['duck',
 'rat',
 'boar',
 'slug',
 'mammoth',
 'gazelle',
 'nakedmolerate',
 'nakedmolerat']

---

### 8) Print the length of the `animals` list.

In [33]:
len(animals)

8

---

### 9) Divide the length of the fifth animal by the second.

In [39]:
len(animals[4])/len(animals[1])

2

---

### 10) Perform the same division, but ensure the output is a decimal number.

In [41]:
float(len(animals[4])/len(animals[1]))

2.0

---

### 11) Demonstrate two different ways to combine the `animals` list and the `numbers` list.

In [43]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [44]:
animals + numbers

['duck',
 'rat',
 'boar',
 'slug',
 'mammoth',
 'gazelle',
 'nakedmolerate',
 'nakedmolerat',
 0.0,
 0.1,
 1.0,
 10.0,
 100.0,
 1000.0]

In [46]:
list(zip(animals, numbers))

[('duck', 0.0),
 ('rat', 0.1),
 ('boar', 1.0),
 ('slug', 10.0),
 ('mammoth', 100.0),
 ('gazelle', 1000.0)]

---

### 12) Remove `'kiefer'` from the list and insert your own name in its place.

In [47]:
names = ['doug', 'billy', 'kiefer', 'kian', 'sam']

In [50]:
names.remove('kiefer')

In [51]:
names

['doug', 'billy', 'kian', 'sam']

---

### 13) Sort the following list.

In [57]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [58]:
mix

[['billy', 'sam'], {'key': 'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [59]:
mix.sort()

In [60]:
mix

[12, 12.999, {'key': 'value'}, ['billy', 'sam'], 'a', 'flower', (1, 2, 3)]

---

### 14) Manually check whether or not one element of `mix` is greater than another.

In [63]:
mix[0] > mix[1]

False

---

### 15) Find the index of `'a'` in the list.

In [65]:
mix.index('a')

4

---

### 16) Reverse the `mix` list.

In [66]:
mix.reverse()
mix

[(1, 2, 3), 'flower', 'a', ['billy', 'sam'], {'key': 'value'}, 12.999, 12]

---

### 17) Remove the last element of `mix`  and assign it to a variable.

In [67]:
new_var = mix.pop()

In [68]:
new_var

12

---

### 18) Count the number of times `0` appears in the following list.

In [69]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [75]:
binary.count(0)

16

---

### 19) Create an SF (San Francisco) zip code dictionary.

With the following key-value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [107]:
# Extra help: https://www.geeksforgeeks.org/python-dictionary/

# talk about reserved words and why you can't use "dict"

In [105]:
sf_dict = {'sunset' : 94122,
        'presidio' : 94129,
        'soma' : 94105,
        'marina': 94123}

---

### 20) Get the zip code for `'soma'` and assign it to a variable.

In [106]:
sf_dict['soma']

94105

---

### 21) Get the keys out of the dictionary.

In [108]:
sf_dict.keys()

['soma', 'presidio', 'sunset', 'marina']

---

### 22) Get the key-value pairs out of the dictionary as a list of tuples.

In [109]:
list(sf_dict.items())

[('soma', 94105), ('presidio', 94129), ('sunset', 94122), ('marina', 94123)]